@-webkit-keyframes htve1 {
0%{
-webkit-transform: scale(1);
opacity: 1;
}
12.5%{
-webkit-transform: scale(1.3);
opacity: 0.9;
}
25%{
-webkit-transform: scale(1);
opacity: 1;
}
50%{
-webkit-transform: scale(1);
opacity: 1;
}
58%{
-webkit-transform: scale(1.3);
opacity: 0.9;
}
66%{
-webkit-transform: scale(1);
opacity: 1;
}
74%{
-webkit-transform: scale(1.3);
opacity: 0.9;
}
82%{
-webkit-transform: scale(1);
opacity: 1;
}
100%{
-webkit-transform: scale(1);
opacity: 1;
}
}
@-webkit-keyframes htve2 {
0%{
-webkit-transform: scale(1);
opacity: 1;
}
12.5%{
-webkit-transform: scale(1.1);
opacity: 0.9;
}
25%{
-webkit-transform: scale(1);
opacity: 1;
}
50%{
-webkit-transform: scale(1);
opacity: 1;
}
58%{
-webkit-transform: scale(1.1);
opacity: 0.9;
}
66%{
-webkit-transform: scale(1);
opacity: 1;
}
74%{
-webkit-transform: scale(1.1);
opacity: 0.9;
}
82%{
-webkit-transform: scale(1);
opacity: 1;
}
100%{
-webkit-transform: scale(1);
opacity: 1;
}
}
@-webkit-keyframes hto {
0%{
-webkit-transform: translate(0);
}
12.5%{
-webkit-transform: translate(20px,-20px);
}
25%{
-webkit-transform: translate(0);
}
50%{
-webkit-transform: translate(0);
}
58%{
-webkit-transform: translate(20px,-20px);
}
66%{
-webkit-transform: translate(0);
}
74%{
-webkit-transform: translate(20px,-20px);
}
82%{
-webkit-transform: translate(0);
}
100%{
-webkit-transform: translate(0);
}
}
@-webkit-keyframes htos {
0%{
-webkit-transform: rotate(0);
}
12.5%{
-webkit-transform: rotate(20deg);
}
25%{
-webkit-transform: rotate(0);
}
50%{
-webkit-transform: rotate(0);
}
58%{
-webkit-transform: rotate(20deg);
}
66%{
-webkit-transform: rotate(0);
}
74%{
-webkit-transform: rotate(20deg);
}
82%{
-webkit-transform: rotate(0);
}
100%{
-webkit-transform: rotate(0);
}
}
@-webkit-keyframes earthySweet {
0% {
	-webkit-transform: translate(0, 100px);
	opacity: 0;
}
25% {
	-webkit-transform: translate(0, 25px);
	opacity: 1;
}
35% {
	-webkit-transform: translate(0, 10px);
	opacity: 1;
}
50% {
	-webkit-transform: translate(0, 0);
	opacity: 1;
}
75% {
	-webkit-transform: translate(0, 0);
	opacity: 1;
}
100% {
	-webkit-transform: translate(0, 0);
	opacity: 1;
}
}
@-webkit-keyframes sadNote {
0% {
	opacity: 0;
}
10% {
	opacity: 1;
}
85% {
	opacity: 1;
}
100% {
	opacity: 0;
}
}
@-webkit-keyframes sadNoteInfo {
0% {
	-webkit-transform: scale(2);
}
20% {
	-webkit-transform: scale(1);
}
85% {
	-webkit-transform: translate(0, 0) rotate(0deg) skewX(0deg) scale(1);
}
100% {
	-webkit-transform: translate(100px, -80px) rotate(30deg) skewX(20deg) scale(2);
}
}
